  /* Float four columns side by side */
  .column {
    display: inline-block;
    padding: 25px 25px 25px 25px;
  }  
  /* Style the counter cards */
  .card {
    box-shadow: 0 6px 10px 0 rgba(111, 114, 114, 0.774), 0 6px 10px 0 rgba(111, 114, 114, 0.774);
    border-radius: 15px;
    padding: 25px;
    margin-bottom: 15px;
    text-align: center;
    background-color: white;
    height: 450px;
    width: 350px;
  }
.card img {
    height: 50%;
    width: 75%;
}
.btn-explore{
    background-color: #000080;
    border: none;
    border-radius: 5px;
    color: white;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    font-weight: 500;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.btn-explore:hover{
    background-color: #4169E1; 
}

  /* Responsive columns */
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 20px;
    }
    .card {
        box-shadow: 0 6px 10px 0 rgba(111, 114, 114, 0.774), 0 6px 10px 0 rgba(111, 114, 114, 0.774);
        border-radius: 15px;
        padding: 10px 10px 10px 10px;
        margin-bottom: 5px;
        text-align: center;
        background-color: white;
        height: 400px;
        width: 300px;
      }
    .card img {
        height: 45%;
        width: 70%;
    }
    .btn-explore{
        background-color: #000080;
        border: none;
        border-radius: 5px;
        color: white;
        padding: 16px 32px;
        text-align: center;
        display: inline-block;
        font-size: 15px;
        font-weight: 400;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
    }
  }